@model E_learning.Models.User

@{
    ViewData["Title"] = "Eliminar Profesor";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar a este profesor?</h3>
<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @* You might not want to display the actual password hash or role here for security/simplicity *@
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd> *@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>